{% extends 'base.html.twig' %}
{% form_theme formLivre 'bootstrap_5_layout.html.twig' %}

{% block title %}add livre{% endblock %}

{% block body %}

        <h1>add livre</h1>

        {# création de la vue champ formulaire avec bootstrap #}

        <div class="form container">
                {{ form_start(formLivre) }}
                {{ form_widget(formLivre) }}
                <div>
                        <input type="submit" value="Enregistrer" class="btn btn-primary"/>
                </div>
                {{ form_end(formLivre) }}
        </div>



{% endblock %}
